{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Displaying the profile picture -->
            {% if user.image_file %}
            <img src="{{ url_for('static', filename = user.image_file) }}" alt="" class=" rounded-circle">{% else %}
            <img src="{{ url_for('static', filename = 'photos/avatar.png') }}" alt="" class="rounded-circle">{% endif %}

        </div>

    </div>

</div>

{% endblock %}