{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">

  <div class="fay" style='font-size: 3vh; color: white'>
          <p>~{{quote.quote}}</p>
          <span>{{quote.author}}</span>

        <!-- <hr class="clearfix w-100 d-md-none pb-3">  -->

        <!-- Grid column -->


        </div>

      </div>
      </footer>
      <div class="container" style="font-family: 'Indie Flower', cursive; padding-top: 10%;" style="text-align: center;">
        <div class="row">
          <h4 class="text-left"><a class="btn btn-success" href="/add/category"> Add a blog Category </a></h4>

          <div class="jumbotron" style='background-color:rgb(238, 235, 241); width: 45%; '>
          <h3> BLOG CATEGORIES</h3>
           <div style='color:green;'>
          {{ macro.displayCategoryList(categories) }}</div>

      </div>


  

  </footer>


</div>

</div>
</div>






{% endblock %}